{{> head}}
{{> navbar }}

<div class="row">
    <div class="col-8">
        <h1>Este es el about con una imagen de prueba</h1>
    </div>
    <div class="col-4">
        <img src="assets/img/img-keyboard.jpg" alt="img-1" class="img-thumbnail">
    </div>
</div>

{{> footer}}